#############################################################################
#                                 .gitignore                                #
# Source: https://git-scm.com/docs/gitignore                                #
# Generator: https://www.toptal.com/developers/gitignore                    #
# Repository: https://github.com/github/gitignore                           #
#############################################################################
